<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Onion.SolutionParser.Parser" version="1.0.0.0" targetFramework="net45" />
  <package id="SevenZip.SDK" version="1.0.0" targetFramework="net45" />
</packages>