<?xml version="1.0" encoding="utf-8" ?>
<!-- OutputPath: where all the installation will be copied -->
<Installations OutputPath="S:\Source Builds\Global" SourcePath="S:\Source Code\Global">
    <!--
    Name:             the module name (this will set the destination folder root)
    DefaultPath:      where the module is located (used to build modules and controls)
    Exclude:          Exclude the following contained items from Package Build
    CompressionLevel: Which is the Compression for the package?
  -->
    <Installation Name="(dev-trunk)" DefaultSourcePath="dev-trunk" DefaultOutputPath="dev-trunk" Exclude="telerik.|telerikcommon" CompressionLevel="1">
        <Exports>Modules/Core|Modules/ImportExport|Modules/Inventory|Modules/Operations|Controls/Clients</Exports>

        <!--<Deploy class="Development" >
            <AutomaticDeploy type="Modules" backup="true" backup_path="">
                <web_service></web_service>
                <machine>localhost</machine>
                <path>S:\@webapi\Modules\</path>
            </AutomaticDeploy>
            <AutomaticDeploy type="Controls" backup="true">
                <machine>localhost</machine>
                <path>S:\@Clients</path>
            </AutomaticDeploy>
        </Deploy>-->
        
        <Modules OutputDir="Modules">
            <Module Name="CommonLibrary">
                <Path>Modules.sln</Path>
                <Project>CommonEntities</Project>
                <Project>CommonLibrary</Project>
            </Module>
            <Module Name="Core">
                <Path>Modules.sln</Path>
                <Project>Core</Project>
            </Module>
            <Module Name="Equipment">
                <Path>Modules.sln</Path>
                <Project>Equipment</Project>
            </Module>
            <Module Name="ImportExport">
                <Path>Modules.sln</Path>
                <Project>ImportExport</Project>
            </Module>
            <Module Name="Operations">
                <Path>Modules.sln</Path>
                <Project>Operations</Project>
            </Module>
            <Module Name="Inventory">
                <Path>Modules.sln</Path>
                <Project>Inventory</Project>
            </Module>
            <Module Name="Packing">
                <Path>Modules.sln</Path>
                <Project>Packing</Project>
            </Module>
            <Module Name="Performance">
                <Path>Modules.sln</Path>
                <Project>Performance</Project>
            </Module>
            <Module Name="Quality">
                <Path>Modules.sln</Path>
                <Project>Quality</Project>
            </Module>
        </Modules>
        <Controls OutputDir="Controls">
            <Control Name="Clients.Common">
                <Path>Controls.sln</Path>
                <Project>Clients.Common</Project>
            </Control>
            <Control Name="CommonControls">
                <Path>Controls.sln</Path>
                <Project>CommonControlBase</Project>
                <Project>CommonControls</Project>
            </Control>
            <Control Name="DevicePairing">
            <Control Name="CoreControls">
                <Path>Controls.sln</Path>
                <Project>CoreControls</Project>
                <Project>CoreControlsDesktop</Project>
                <Project>CoreControlsHandheld</Project>
                <Project>CoreControlsTablet</Project>
            </Control>
            <Control Name="EquipmentControl">
                <Path>Controls.sln</Path>
                <Project>EquipmentControl</Project>
                <Project>EquipmentControlDesktop</Project>
                <Project>EquipmentControlHHT</Project>
                <Project>EquipmentControlTablet</Project>
            </Control>
            <Control Name="InventoryControls">
                <Path>Controls.sln</Path>
                <Project>InventoryControls</Project>
                <Project>InventoryControlsDesktop</Project>
                <Project>InventoryControlsHHT</Project>
            </Control>
            <Control Name="PerformanceControls">
                <Path>Controls.sln</Path>
                <Project>PerformanceControls</Project>
                <Project>PerformanceControlsDesktop</Project>
            </Control>
            <Control Name="OperationsControls">
                <Path>Controls.sln</Path>
                <Project>OperationsControls</Project>
                <Project>OperationsControlsDesktop</Project>
                <Project>OperationsControlsHHT</Project>
                <Project>OperationsControlsTablet</Project>
            </Control>
            <Control Name="Clients">
                <Path>Controls.sln</Path>
                <Project>Clients.Handheld</Project>
                <Project>Clients.Tablet</Project>
                <Project>Clients.Desktop</Project>
            </Control>
        </Controls>

        <Database>
            <!--
      Name: Is the name that appears in the TreeView
      -->
            <BackupScript Name="MesDB">
                <!--
        Name: Is the command to be executed.
        SimpleExport: (default: true)
                      - true, use the System.Process (CMD)
                      - false, use code to execute (DO NOT USE)
        -->
                <Command>sqlcmd -U sa -P W0nderware -S UKDCBTMES06 -d KerryMESDB -Q "  BACKUP DATABASE [KerryMESDB] TO  DISK = N'D:\MSSQL\BACKUP\KerryMESDB\%%DATE_TIME%%_KerryMESDB.bak' WITH  COPY_ONLY, NOFORMAT, INIT,  NAME = N'KerryMESDB-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10"</Command>
                <!--<SimpleExport>true</SimpleExport>-->
            </BackupScript>
        </Database>
    </Installation>
</Installations>